<div class="container">
  <h2>Prescrições médicas</h2>
    <ul>
      <li><strong>Antibiótico:</strong> Ciprofloxacino 500 mg, 1 comprimido a cada 12 horas, por 7 dias. <em>(Tratamento contra a infecção bacteriana)</em></li>
      <li><strong>Probiótico:</strong> Floratil (Saccharomyces boulardii), 1 cápsula ao dia, por 10 dias. <em>(Auxílio na restauração da flora intestinal)</em></li>
      <li><strong>Analgésico:</strong> Paracetamol 500 mg, 1 comprimido a cada 6 horas, se houver dor. <em>(Alívio das dores abdominais)</em></li>
      <li><strong>Hidratação:</strong> Ingerir líquidos com frequência, incluindo soro de reidratação oral, para evitar desidratação causada pela infecção.</li>
      <li><strong>Dieta:</strong> Manter dieta leve, evitando alimentos gordurosos e com muita fibra até a melhora dos sintomas. Prefira sopas, frutas leves e alimentos cozidos.</li>
    </ul>
</div>
