.container {
  background-color: white;
  padding: 20px
}

h2 {
  color: #094D59;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: #094D59;
}

li {
  margin-bottom: 10px;
  color: #094D59;
}

em {
  color: #094D59;
}
