/* Estilo do container */
.container {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

h2 {
  color: #26606b;
  margin-top: 5px;
}

/* Estilo geral do formulário */
.form-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.form-left {
  flex: 1;
  padding-right: 20px;
}

.form-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../../../assets/images/foto-perfil.png");
  background-size: cover;
  background-position: center;
}

.upload-label {
  margin-top: 15px;
  text-align: center;
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 48%;
}

.full-width {
  width: 100%;
}

.save-button {
  margin-top: 20px;
  width: 100%;
  background-color: #26606b;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.save-button:hover {
  background-color: #1f4c56;
}

/* Estilo do botão de alterar foto */
.upload-label button {
  background-color: #26606b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-label button:hover {
  background-color: #1f4c56;
}

/* Estilo das caixas de texto */
.mat-form-field {
  color: #26606b !important; /* Cor do texto nas caixas */
}

.mat-form-field .mat-label {
  color: #26606b !important; /* Cor do rótulo */
}

.mat-form-field .mat-input-element {
  color: #26606b !important; /* Cor do texto digitado */
}

.mat-form-field .mat-placeholder {
  color: #26606b !important; /* Cor do texto do placeholder */
}

.mat-form-field-underline {
  background-color: #26606b !important; /* Cor da borda */
}

.mat-form-field.mat-focused .mat-form-field-underline {
  background-color: #26606b !important; /* Cor da borda quando o campo estiver em foco */
}

.mat-form-field.mat-focused .mat-label {
  color: #26606b !important; /* Cor do rótulo quando o campo estiver em foco */
}
