::ng-deep body {
  color: #26606b !important;
  font-family: "Raleway", sans-serif !important;
}

::ng-deep p {
  font-size: 25px !important;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 10px;
  margin: auto;
  margin-top: 60px;
  height: 80%;
  width: 80%;
  position: relative;
}

.content {
  max-width: 50%;
}

.content h1 {
  font-size: 36px;
  color: #26606b;
  margin-top: 0;
}

.content p {
  font-size: 18px;
  color: #26606b;
  margin-top: 10px;
}

.consulta-btn {
  background-color: #26606b;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  height: 60px;
  width: 260px;
}

.consulta-btn:hover {
  background-color: #4ab68a;
  transform: scale(1.05);
}

.image img {
  width: 100%; /* Tornar a imagem responsiva */
  height: auto; /* Manter a proporção */
}

@media (max-width: 768px) {
  .home-container {
      flex-direction: column;
      text-align: center;
      padding: 20px; /* Reduzir o padding para telas menores */
  }

  .content {
      max-width: 100%; /* Permitir que o conteúdo ocupe toda a largura */
      margin-bottom: 20px;
  }

  .content h1 {
      font-size: 28px; /* Tamanho do título reduzido para telas menores */
  }

  .content p {
      font-size: 16px; /* Tamanho do texto reduzido */
  }

  .consulta-btn {
      width: 80%; /* Aumentar a largura do botão em telas menores */
      font-size: 18px; /* Reduzir o tamanho da fonte */
  }

  .image {
      width: 100%; /* A imagem ocupará toda a largura disponível */
      height: auto; /* Manter a altura automática */
      background-image: url("../../../assets/images/medicos.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; /* Centraliza a imagem de fundo */
  }
}
