<app-navigation-bar></app-navigation-bar>
<div class="home-container">
  <div class="content">
    <h1>CUIDE DA SUA SAÚDE</h1>
    <p>
      Agende consultas, acesse seus exames e mantenha seu histórico médico
      sempre à mão.
    </p>
    <button class="consulta-btn">Agende uma Consulta</button>
  </div>
  <div class="image">
    <!-- Aqui você pode inserir uma imagem ou SVG -->
     <!-- erro ao importar imagem -->
    <img src="assets/images/medicos.png" alt="Doutor e enfermeira" />
  </div>
</div>