<app-navigation-bar></app-navigation-bar>

<div class="home-container">
  <div class="content">
    <h1>BEM-VINDO(A) AO CARESYNC!</h1>
    <br>
    <br>
    <br>
    <h2>CUIDE DA SUA SAÚDE</h2>
    <p>
      Agende consultas, acesse seus exames e mantenha seu histórico médico
      sempre à mão.
    </p>
    <br />
    <h2>A SAÚDE É UM INVESTIMENTO EM VOCÊ MESMO</h2>
    <p>
      Cuidar da sua saúde é um dos investimentos mais importantes que você pode
      fazer. Não deixe para amanhã o que você pode fazer hoje! Faça do
      autocuidado uma prioridade em sua vida.
    </p>
    <br />
    <h2>COMECE AGORA!</h2>
    <p>
      Acesse nossa plataforma e descubra como é fácil cuidar da sua saúde. Se
      você está pronto para agendar uma consulta ou explorar suas opções de
      exames, clique no botão abaixo e dê o primeiro passo em direção a um você
      mais saudável!
    </p>
    <br />
    <button class="consulta-btn">AGENDAR CONSULTA</button>
  </div>

  <div class="image"></div>
</div>
