<app-navigation-bar></app-navigation-bar>

<div class="consulta-detalhe-container">
  <div class="header">
    <h2>Detalhes do Agendamento</h2>
    <div class="paciente-info">
      <p><strong>Nome do paciente:</strong> {{ user.nomePaciente }}</p>
      <p><strong>Data de nascimento:</strong> {{ user.dataNascimento | date:'dd/MM/yyyy' }}</p>
    </div>
  </div>

  <div class="consulta-info card">
    <div class="consulta-info-text">
      <p><strong>Médico:</strong> {{ user.nomeMedico }}</p>
      <p><strong>Especialidade:</strong> {{ user.especialidade }}</p>
      <p><strong>Tipo:</strong> {{ user.tipo }}</p>
      <p><strong>Data:</strong> {{ user.dataConsulta | date:'dd/MM/yyyy' }}</p>
      <p><strong>Horário:</strong> {{ user.hora }}</p>
      <p><strong>Local:</strong> {{ user.local }}</p>
      <p><strong>Endereço:</strong> {{ user.endereco }}</p>
    </div>
  </div>

  <!-- <div class="consulta-info card">
    <div class="consulta-info-text">
      <p><strong>Médico:</strong> Dr. Thiago</p>
      <p><strong>Especialidade:</strong> Pediatra</p>
      <p><strong>Tipo:</strong> Rotina</p>
      <p><strong>Data:</strong> 30/11/2024</p>
      <p><strong>Horário:</strong> 10:30</p>
      <p><strong>Local:</strong> Samambaia</p>
      <p><strong>Endereço:</strong> QR X CONJUNTO Y</p>
    </div>
  </div> -->

  <div class="observacoes-container card">
    <h3 style="color: #005f73">Observações:</h3>
    <p>{{ user.observacoes }}</p>
  </div>
</div>


