<app-navigation-bar></app-navigation-bar>

<div class="exame-detalhe-container">
  <div class="header">
    <div>
      <h2>HISTÓRICO E RESULTADOS</h2>
    </div>
    <div class="paciente-info-flex-div">
      <div class="paciente-info-flex">
        <p><strong>PACIENTE:</strong> {{ user.nomePaciente }}</p>
        <p class="data-nascimento">
          <strong>DATA DE NASC.:</strong> {{ user.dataNascimento | date:'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>

  <div class="exame-info">
    <p><strong>NOME DO EXAME:</strong> {{ user.nomeExame }}</p>
    <p><strong>DATA DO EXAME:</strong> {{ user.data | date: 'dd/MM/yyyy'}}</p>
    <p><strong>LOCAL:</strong> {{ user.local }}</p>
    <p><strong>MÉDICO:</strong> {{ user.nomeMedico }}</p>
  </div>

  <div class="observacoes-container">
    <div class="observacoes">
      <div class="subtitle">OBSERVAÇÕES:</div>
      <p>{{ user.observacoes }}</p>
      <div class="subtitle">REAVALIAÇÕES:</div>
      <p>{{ user.reavaliacao }}</p>
    </div>
  </div>

  <div class="div-consulta-btn">
    <button
      mat-button
      (click)="abrirModal()"
      class="consulta-btn"
      style="color: white"
    >
      Prescrições médicas
    </button>
  </div>
</div>
