::ng-deep body {
  color: #26606b !important;
  font-family: "Raleway", sans-serif !important;
}

.exame-detalhe-container {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
  max-width: 60%;
  margin: 20px auto;
}

.header {
  display: inline-flex; /* Flexbox para alinhar título e paciente info */
  justify-content: space-between; /* Espaço entre eles */
  align-items: center; /* Alinha verticalmente */
  margin-bottom: 20px; /* Espaçamento abaixo do cabeçalho */
  width: 100%;
}

h2 {
  color: #094D59;
  margin: 0; /* Remove margem padrão do título */
  white-space: nowrap;
  font-weight: 300;
}

.subtitle{
  color: #094D59;
  margin: 0; /* Remove margem padrão do título */
  font-weight: 300 !important;
  font-size: 25px !important;
}

.exame-info,
.observacoes {
  margin-bottom: 20px;
  color: #094D59;
}

.exame-info p,
.paciente-info-flex p {
  margin: 5px 0;
  color: #094D59;
}

.paciente-info-flex {
  display: flex; /* Flexbox para alinhar lado a lado */
  float: right;
}

.paciente-info-flex-div{
width: 100%;
}

.paciente-info-flex p {
  margin-left: 15px;
}

strong {
  font-weight: 500;
}

.data-nascimento {
  margin-left: 20px; /* Espaçamento à esquerda para a data de nascimento */
}

.observacoes h3,
.observacoes h4 {
  margin: 10px 0;
  color: #094D59;
}

.observacoes p {
  margin: 5px 0;
  color: #094D59;;
}

.prescricao-button { 
  background-color: #26606b;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  height: 60px;
  width: 230px; /* Largura padrão do botão */
  text-align: center;
}

.prescricao-button:hover {
  background-color: #4ab68a;
  transform: scale(1.05);
}

.consulta-btn {
  background-color: #26606b;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  height: 60px;
  width: 260px; /* Largura padrão do botão */
  text-align: center;
}

.consulta-btn:hover {
  background-color: #4ab68a;
  transform: scale(1.05);
}

.div-consulta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
