<app-navigation-bar></app-navigation-bar>

<div class="exame-detalhe-container">
  <div class="header">
    <h2>Histórico e resultados</h2>
    <div class="paciente-info-flex">
      <p><strong>Nome do paciente:</strong> {{ nomePaciente }}</p>
      <p class="data-nascimento"><strong>Data de nascimento:</strong> {{ dataNascimento }}</p>
    </div>
  </div>

  <div class="exame-info">
    <p><strong>Especialidade:</strong> {{ especialidade }}</p>
    <p><strong>Data exame:</strong> {{ dataExame }}</p>
    <p><strong>Local:</strong> {{ local }}</p>
    <p><strong>Endereço:</strong> {{ endereco }}</p>
    <p><strong>Médico:</strong> {{ medico }}</p>
    <p><strong>Motivo do exame:</strong> {{ motivoExame }}</p>
  </div>

  <div class="observacoes-container">
    <div class="observacoes">
      <h3>Observações:</h3>
      <p>{{ observacoes }}</p>
      <h4>Reavaliação:</h4>
      <p>{{ reavaliacao }}</p>
    </div>
  </div>

  <button mat-button (click)="abrirModal()" class="prescricao-button" style="color: white;">Prescrições médicas</button>
</div>

