<nav class="navbar">
  <div routerLink="/home" class="logo">CARESYNC</div>
  <ul class="nav-links">
    <li><a routerLink="/consultas">CONSULTAS</a></li>
    <li><a routerLink="/exames">EXAMES</a></li>
    <li><a routerLink="/cartao-vacinas">CARTÃO DE VACINAS</a></li>

    <!-- Item com Submenu -->
    <li class="profile-menu">
      <a href="#" class="profile-link">MEU PERFIL</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/perfil">Perfil</a></li>
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
