<nav class="navbar">
  <div routerLink="/home" routerLinkActive="active-link" class="logo">CARESYNC</div>
  <ul class="nav-links">
    <li><a routerLink="/consultas" routerLinkActive="active-link">CONSULTAS</a></li>
    <li><a routerLink="/exames" routerLinkActive="active-link">EXAMES</a></li>
    <li><a routerLink="/cartao-vacinas" routerLinkActive="active-link">CARTÃO DE VACINAS</a></li>

    <!-- Item com Submenu -->
    <li class="profile-menu" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <a class="profile-link">MEU PERFIL</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/perfil">Perfil</a></li> 
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
