.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.838);
    color: #26606b !important;
    font-family: "Raleway", sans-serif !important;
    font-size: larger !important;
  }

  .logo {
    cursor: pointer;
    font-size: 28px;
    font-weight: 400;
    color: #26606b; /* Cor similar ao texto CARESYNC */
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  dl, ol, ul {
    margin: 0 0 0 0;
  }
  .nav-links li a {
    position: relative; /* Necessário para posicionar o ::after */
    text-decoration: none; /* Remove sublinhado padrão */
    color: #26606b; /* Cor padrão do texto */
    transition: color 0.3s ease; /* Suave transição de cor */
  }
  
  .nav-links li a::after {
    content: ""; /* Cria o elemento decorativo */
    position: absolute;
    left: 0;
    bottom: -3px; /* Espaçamento entre o texto e a linha */
    width: 0;
    height: 2px; /* Altura da linha */
    background-color: #00be75; /* Cor da linha */
    transition: width 0.3s ease; /* Transição suave para a linha */
  }
  
  .nav-links li a:hover {
    color: #00be75;
  }
  
  .nav-links li a:hover::after {
    width: 100%; /* Expande a linha até a largura total do link */
  }
  
  .profile-menu {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 5px 0;
    min-width: 100px;
    width: 100px;
    z-index: 1000;
  }

  .dropdown-menu li {
    padding: 5px 15px;
  }

  .dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
  }

  .dropdown-menu li a:hover {
    background-color: #f0f0f0;
  }

  .profile-menu:hover .dropdown-menu,
  .profile-link:focus + .dropdown-menu {
    display: block;
  }

  .active-link {
    color: #26606b; /* Cor de destaque */
    border-bottom: 2px solid #00be75; /* Linha de destaque */
  }
