<app-navigation-bar></app-navigation-bar>

<!-- Container principal das Vacinas -->
  <div class="container">
    <div class="d-flex justify-content-between align-items-center p-4">
      <!-- Container Title -->
      <h3 class="mb-0">CARTÃO DE VACINAS</h3>

      <!-- Patient Information -->
      <div class="patient-info text-right">
        <p class="mb-1">PACIENTE: {{ dadosFixos.nomePaciente }}</p>
        <p class="mb-0">DATA DE NASC.: {{ dadosFixos.dataNascimento | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>

    <!-- Tabela de Vacinas -->
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>VACINA</th>
            <th>DATA DE APLICAÇÃO</th>
            <th>PRÓXIMA DOSE</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacina of vacinas" [ngClass]="vacina.statusClass">
            <td>{{ vacina.nomeVacina }}</td>
            <td>{{ vacina.dataAplicacao}}</td>
            <td>{{ vacina.dataRetorno}}</td>
            <td [ngClass]="vacina.status === 'Pendente' ? 'pendente' : (vacina.status === 'Concluída' ? 'concluida' : 'agendada')">{{ vacina.status }}</td>
          </tr>
        </tbody>
      </table>
      <button mat-button class="detalhes-btn" routerLink="/vacinas-detalhes">Ver detalhes</button>
  </div>




