<app-navigation-bar></app-navigation-bar>
<div class="container">
  <h2>AGENDAMENTOS</h2>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Consulta</th>
        <th>Médico</th>
        <th>Dia</th>
        <th>Hora</th>
        <th>Endereço</th>
        <th>Localidade</th>
      </tr>
    </thead>
    <tbody>
      <tr routerLink="/consultas-detalhes" *ngFor="let agendamento of agendamentos">
        <td>{{ agendamento.especialidade }}</td>
        <td>{{ agendamento.nomeMedico }}</td>
        <td>{{ agendamento.dataConsulta | date:'dd/MM/yyyy' }}</td>
        <td>{{ agendamento.hora }}</td>
        <td>{{ agendamento.endereco }}</td>
        <td>{{ agendamento.local }}</td>
      </tr>

    </tbody>
  </table>
  <p>Selecione a consulta para ver mais detalhes</p>
</div>
