<app-auth-container>
  <div class="auth-section">
    <div class="auth-itens">
      <div class="header">
        <h1 class="titulo cadastro">CADASTRO</h1>
      </div>
      <div class="labels">

        <form [formGroup]="formulario">
          <div class="input-container">
            <input formControlName="firstName" type="text" required="" />
            <label>Nome</label>
          </div>
          <div class="input-container">
            <input formControlName="lastName" type="text" required="" />
            <label>Sobrenome</label>
          </div>
          <div class="double-information">
            <div class="input-container share">
              <input formControlName="dataNascimento" type="date" required="" />
              <label>Data de Nasc.</label>
            </div>
            <div class="input-container share">
              <select name="sexo" id="">
                <option value="">SELECIONE</option>
                <option value="M">MASCULINO</option>
                <option value="F">FEMININO</option>
              </select>
              <label for="sexo">Sexo</label>
            </div>
          </div>
          <div class="double-information">
            <div class="input-container share">
              <input
                type="text"
                required=""
              />
              <label>CPF</label>
            </div>
            <div class="input-container share">
              <input type="text" required="" />
              <label>RG</label>
            </div>
          </div>
          <div class="input-container">
            <input type="text" required="" />
            <label>Endereço</label>
          </div>
          <div class="double-information">
            <div class="input-container share">
              <input type="text" required="" />
              <label>Telefone</label>
            </div>
            <div class="input-container share">
              <input type="text" required="" />
              <label>E-mail</label>
            </div>
          </div>
          <div class="input-container">
            <input type="password" required="" />
            <label>Senha</label>
          </div>
          <div class="input-container">
            <input type="password" required="" />
            <label>Confirme sua senha</label>
          </div>
        </form>

        <button class="submit-button register">CADASTRAR</button>
      </div>
    </div>
  </div>
  <div class="logo-section">
    <div class="logo"></div>
    <div class="logo-text">
      <p>caresync.com.br</p>
    </div>
  </div>
</app-auth-container>
