<app-auth-container fxLayout="column" fxLayoutAlign="center center" class="auth-container">
  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" class="auth-section">
    <div fxFlex="80" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start stretch" class="auth-itens">
      <div class="header">
        <h1 class="titulo cadastro">CADASTRO</h1>
      </div>

      <form [formGroup]="formulario" fxLayout="column" fxLayoutGap="5px" class="labels">
        <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-sm="column" class="double-information">
          <mat-form-field class="example-full-width" fxFlex="60">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite seu nome" formControlName="nome">
          </mat-form-field>

          <mat-form-field class="example-full-width" fxFlex="60">
            <mat-label>Sobrenome</mat-label>
            <input matInput placeholder="Digite seu sobrenome" formControlName="sobrenome">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-sm="column" class="double-information">
          <mat-form-field class="example-full-width" fxFlex="40">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="F">Feminino</mat-option>
              <mat-option value="P">Prefiro não informar</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" fxFlex="50">
            <mat-label>Nº do SUS</mat-label>
            <input matInput placeholder="Número no CNS" formControlName="numeroSUS" required>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-sm="column" class="double-information">
          <mat-form-field class="example-full-width" fxFlex="50">
            <mat-label>Data de Nasc.</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataNascimento" placeholder="DD/MM/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width" fxFlex="50">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Digite seu CPF" formControlName="CPF" required (input)="formatCpf()" [value]="cpfValue">
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width" fxFlex="100">
          <mat-label>Endereço</mat-label>
          <input formControlName="endereco" matInput placeholder="Digite seu endereço">
        </mat-form-field>

        <mat-form-field class="example-full-width" fxFlex="100">
          <mat-label>CEP</mat-label>
          <input formControlName="CEP" matInput placeholder="Digite seu CEP">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-sm="column" class="double-information">
          <mat-form-field class="example-full-width" fxFlex="60">
            <mat-label>Cidade</mat-label>
            <input formControlName="cidade" matInput placeholder="Digite sua cidade">
          </mat-form-field>

          <mat-form-field fxFlex="40">
            <mat-label>UF</mat-label>
            <mat-select formControlName="UF">
                <mat-option value="AC">AC</mat-option>
                <mat-option value="AL">AL</mat-option>
                <mat-option value="AM">AM</mat-option>
                <mat-option value="AP">AP</mat-option>
                <mat-option value="BA">BA</mat-option>
                <mat-option value="CE">CE</mat-option>
                <mat-option value="DF">DF</mat-option>
                <mat-option value="ES">ES</mat-option>
                <mat-option value="GO">GO</mat-option>
                <mat-option value="MA">MA</mat-option>
                <mat-option value="MG">MG</mat-option>
                <mat-option value="MS">MS</mat-option>
                <mat-option value="MT">MT</mat-option>
                <mat-option value="PA">PA</mat-option>
                <mat-option value="PB">PB</mat-option>
                <mat-option value="PE">PE</mat-option>
                <mat-option value="PI">PI</mat-option>
                <mat-option value="PR">PR</mat-option>
                <mat-option value="RJ">RJ</mat-option>
                <mat-option value="RN">RN</mat-option>
                <mat-option value="RO">RO</mat-option>
                <mat-option value="RR">RR</mat-option>
                <mat-option value="RS">RS</mat-option>
                <mat-option value="SC">SC</mat-option>
                <mat-option value="SE">SE</mat-option>
                <mat-option value="TO">TO</mat-option>
                <mat-option value="SP">SP</mat-option>
              </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-sm="column" class="double-information">
          <mat-form-field class="example-full-width" fxFlex="60">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput placeholder="Digite seu e-mail">
          </mat-form-field>

          <mat-form-field class="example-full-width" fxFlex="40">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Digite seu telefone" formControlName="telefone" (input)="formatTelefone()" [value]="telefoneValue">
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width" fxFlex="100">
          <mat-label>Senha</mat-label>
          <input formControlName="senha" matInput type="password" placeholder="Digite sua senha">
        </mat-form-field>

        <mat-form-field class="example-full-width" fxFlex="100">
          <mat-label>Confirmar Senha</mat-label>
          <input formControlName="confirmSenha" matInput type="password" placeholder="Confirme sua senha">
        </mat-form-field>
        <div class="mensagem_erro" *ngIf="formulario.hasError('passwordMismatch') && formulario.get('confirmSenha')?.touched">
          As senhas não coincidem!
        </div>

        <button (click)="formularioValido()" class="submit-button register" fxFlex="50" fxFlex.lt-md="70" fxFlex.lt-sm="100">CADASTRAR</button>
      </form>
    </div>
  </div>

  <div fxFlex="20" fxFlex.lt-md="100" class="logo-section" fxLayoutAlign="center center">
    <div class="logo"></div>
    <div class="logo-text">
      <p>caresync.com.br</p>
    </div>
  </div>
</app-auth-container>
