<app-auth-container>
  <div class="auth-section">
    <div class="auth-itens">
      <div class="header">
        <h1 class="titulo">LOGIN</h1>
      </div>
      <div class="labels">
        <form [formGroup]="formulario">
          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
          <div class="mensagem_erro" *ngIf="formulario.get('login')?.errors?.['required']  && formulario.get('login')?.touched">
            E-mail é obrigatório!
          </div>
          <div class="mensagem_erro" *ngIf="formulario.get('login')?.errors?.['email']  && formulario.get('login')?.touched">
            Digite um e-mail obrigatório!
          </div>
        <br />
        
          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="" value="" type="password">
          </mat-form-field>
          <div class="mensagem_erro" *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
            Senha é obrigatória!
        </div>
       </form> 
        <button (click)="formularioValido()" class="submit-button">ENTRAR</button>
        <div class="link-container">
          <a href="#" class="link">Esqueci a senha</a>
          <span class="separator">|</span>
          <a href="#" class="link" routerLink="/cadastro">Não tenho uma conta</a>
        </div>
      </div>
    </div>
  </div>
  <div class="logo-section">
    <div class="logo"></div>
    <div class="logo-text">
      <p>caresync.com.br</p>
    </div>
  </div>
</app-auth-container>
