<app-navigation-bar></app-navigation-bar>

<div class="home-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div class="imagem-paciente-medico">
    <img />
  </div>
  <div class="content" fxFlex="70" fxFlex.lt-md="100">
    <h1>MARQUE OU VERIFIQUE SUAS CONSULTAS COM FACILIDADE</h1>
    <br>
    <p>
      Estamos aqui para garantir que sua experiência com nossos serviços seja
      simples e eficiente. Agora, você pode marcar uma nova consulta ou verificar
      suas consultas agendadas com apenas alguns cliques.
    </p>
    <br>
    <div class="buttons">
      <button routerLink="/agendar-consulta" class="consulta-btn">Agendar consulta</button>
      <button routerLink="/meus-agendamentos" class="consulta-btn">Meus agendamentos</button>
    </div>
  </div>
 
</div>

