<app-navigation-bar></app-navigation-bar>
<div class="consultas-container">
  <div class="content">
    <h1>MARQUE OU VERIFIQUE SUAS CONSULTAS COM FACILIDADE</h1>
    <p>
      Estamos aqui para garantir que sua experiência com nossos serviços seja
      simples e eficiente. Agora, você pode marcar uma nova consulta ou verificar
      suas consultas agendadas com apenas alguns cliques.
    </p>
    <div class="buttons">
      <button routerLink="/agendar-consulta" class="consulta-btn">Agendar consulta</button>
      <button routerLink="/meus-agendamentos" class="agendamentos-btn">Meus agendamentos</button>
    </div>
  </div>
  <div class="image">
    <!-- Aqui você pode inserir uma imagem ou SVG -->
     <!-- erro ao importar imagem -->
    <img src="/assets/images/consulta.png" alt="Paciente e médico" />
  </div>
</div>
