<app-navigation-bar></app-navigation-bar>
<div class="container">
  <h2>DETALHES DAS VACINAS</h2>
  <div class="info">
    <span>NOME DO PACIENTE</span>
    <span>DATA NASC.: 01/01/1999</span>
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>VACINA</th>
        <th>LOTE</th>
        <th>LAB.PRODUT</th>
        <th>UNIDADE</th>
        <th>ASS.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vacina of vacinas">
        <td>{{ vacina.nome }}</td>
        <td>{{ vacina.lote }}</td>
        <td>{{ vacina.labProdut }}</td>
        <td>{{ vacina.unidade }}</td>
        <td>{{ vacina.assinatura }}</td>
      </tr>
    </tbody>
  </table>
  <div class="back-button">
    <button routerLink="/cartao-vacinas">Voltar</button>
  </div>
</div>
