<app-navigation-bar></app-navigation-bar>
<div class="container">
  <h2>AGENDAMENTOS</h2>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
    <thead>
      <tr>
        <th>Consulta</th>
        <th>Médico</th>
        <th>Dia</th>
        <th>Hora</th>
        <th>Localidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of consultas" (click)="verDetalhesConsulta(consulta.id_consulta)">
        <td>{{ consulta.especialidade }}</td>
        <td>{{ consulta.nomeMedico }}</td>
        <td>{{ consulta.dataConsulta | date:'dd/MM/yyyy' }}</td>
        <td>{{ consulta.hora }}</td>
        <td>{{ consulta.local }}</td>
      </tr>
    </tbody>
  </table>
  <p>Selecione a consulta para ver mais detalhes</p>
</div>
